<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Desciption:</strong>
  <%= @job.desciption %>
</p>

<p>
  <strong>User number:</strong>
  <%= @job.user_number %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
